<ActionBar class="action-bar" height="80dp">
    
    <ng-template *ngIf="title==null; then showImageBar; else showTitleBar">
    </ng-template>
    
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()" height="80dp">
    </NavigationButton>

    <ActionItem android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
        <Label text="&#xf0c9;" class="fa" fontSize="28"></Label>
    </ActionItem>

    <ng-template #showImageBar>
        <ActionItem position="center" height="80dp">
            <Image (tap)="onNavItemTap('/home')" src="~/resources/images/dls logo.png" stretch="aspectFit" class="m-r-60" loadMode="async"></Image>
        </ActionItem>
    </ng-template>
    
    
    <ng-template #showTitleBar>
        <Label [text]=" title.toUpperCase() " fontWeight="bold" fontSize="28"></Label>
    </ng-template>

</ActionBar>